<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="SPCConnectionString" connectionString="Data Source=mmctsg2d2;Initial Catalog=SPCDATA;Persist Security Info=True;User ID=hsm;Password=hsm" providerName="System.Data.SqlClient"/>
    <add name="MPrint2ConnectionString" connectionString="Data Source=mmctsg2d2;Initial Catalog=Mprint2;Persist Security Info=True;User ID=hsm;Password=hsm" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>